.Header{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    
}
.Header a{
    padding: 20px;
}
.Header img{
    margin-bottom: 80px;
}

.Image1{
    width: 1600px;
    height: 600px;
    background-image: url(images/the-beacon.jpg);
    background-size: 100% 100%;
    margin-top: 50px;
}
.Image1 h3{
    background-color: white;
    display:inline;
    position: absolute;
    top: 450px;
    left: 800px;
    font-size: 35px;
}
#Our{
    background-color: black;
    display: inline;
    color: white;
    position: absolute;
    top: 530px; 
    left: 800px;
    font-size: 30px;
    padding: 10px;
}
#inspiration{
    background-color: black;
    display: inline;
    color: white;
    position: absolute;
    top: 610px; 
    left: 800px;
    font-size: 30px;
    padding: 10px;
}
#and{
  background-color: black;
    display: inline;
    color: white;
    position: absolute;
    top: 690px; 
    left: 800px;  
    font-size: 30px;
    padding: 10px;
}
#ReadMore{
    background-color: aquamarine;
    color: white;
    display: inline;
    position: absolute;
    top: 770px; 
    left: 800px;  
    font-size: 30px;
    padding: 10px;
}

.FAN p{
display: inline;
position: absolute;
font-size: 30px;
}
#the-father{
left: 200px;
}
#the-actor{
left: 600px;
}
#the-nerd{
left: 1000px;
}
#father-label{
    left: 280px;
    top:1200px ;
}
#actor-label{
    left: 680px;
    top: 1200px;
}
#nerd-label{
    left:1080px ;
    top: 1200px;
}

.footer{
    background-color: black;
    position: absolute;
    top:1400px;
    padding:50px;
    display: block;
    color: white;
    width: 100%;
    text-align: right;
}
.footer a{
    margin: 10px;
}
.footer p{
    position: absolute;
    top: 50px;
    font-size: 30px;
    left: 100px;
}

#toprow{
    text-align: center;
    
}
#middlerow{
    text-align: center;
}
#bottomrow{
    text-align: center;
}
#one{
    margin: 15px;
    border: black solid 4px;
}
#seven{
    margin: 15px;
    border: black solid 4px;
}
#two{
    margin: 15px;
    border: black solid 4px;
}
#three{
    margin: 15px;
    border: black solid 4px;
}
#four{
    margin: 15px;
    border: black solid 4px;
}
#five{
    margin: 15px;
    border: black solid 4px;
}
#six{
    margin: 15px;
    border: black solid 4px;
}
#eight{
    margin: 15px;
    border: black solid 4px;
}
#nine{
    margin: 15px;
    border: black solid 4px;
}
