.Header{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    
}
.Header a{
    padding: 20px;
}
.Header img{
    margin-bottom: 80px;
}

.Image1{
    width: 1600px;
    height: 600px;
    background-image: url(images/the-beacon.jpg);
    background-size: 100% 100%;
    margin-top: 50px;
}
.Image1 h3{
    background-color: white;
    display:inline;
    position: absolute;
    top: 450px;
    left: 800px;
    font-size: 35px;
}
#Our{
    background-color: black;
    display: inline;
    color: white;
    position: absolute;
    top: 530px; 
    left: 800px;
    font-size: 30px;
    padding: 10px;
}
#inspiration{
    background-color: black;
    display: inline;
    color: white;
    position: absolute;
    top: 610px; 
    left: 800px;
    font-size: 30px;
    padding: 10px;
}
#and{
  background-color: black;
    display: inline;
    color: white;
    position: absolute;
    top: 690px; 
    left: 800px;  
    font-size: 30px;
    padding: 10px;
}
#ReadMore{
    background-color: aquamarine;
    color: white;
    display: inline;
    position: absolute;
    top: 770px; 
    left: 800px;  
    font-size: 30px;
    padding: 10px;
}